.forecast{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.display_current{
  display: flex;
  flex-direction: column;
}

.display_current i{
  font-size: 80px;
  color: #fff;
}

.display_future{
  background: linear-gradient(#3cc1ff,#4d85ff);  ;
  display: flex;
  justify-content: space-between;
  height: 200px;
}
  
.location{
  display: flex;
  justify-content: center;
  margin-top:   30px;
  font-size: 25px;
}

.temperature{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 50px;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.description i, .description div{
  margin: 0 30px;
}


.description div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
