.wrapper{
  background-color: rgba(0, 0, 0, 0.397);
  height: 100px;
  display: flex;
  align-items: center;
}

.Form{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}

.Form label, .Form input{
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  font-size: 20px;
  outline: none;
}

.submit{
  cursor: pointer;
}

::placeholder {
  color: #c5ecfd8f;
}
