.Right{
    min-width: 100px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    height: 650px ;
    width: 450px;
}

.invalidInput {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
}