*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-image: url("./images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

 .App{
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
